{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <title>News aggregator</title>
        <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    </head>
    <h1>News aggregator - Home</h1>
    <div>
        <a href="{% url 'archive' %}">Go to seven-day archive</a>
    </div>
    <div>
        <h2>Today's articles</h2>
        {% for art_dict in d_list %}
            {% for key, value in art_dict.items %}
                <h2>{{key}}</h2>
                {% for article in value %}
                    <li>
                    <a href="{{article.url}}">{{article.title}}</a> - {{article.date}} - Source: {{article.source}}
                    </li>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </div>
</html>